::ng-deep {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    background-color: #cca152;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon,
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
    color: white;
  }

  .mat-icon {
    color: white;
  }

  .mat-menu-panel {
    min-width: 433px !important;
    max-width: 433px !important;
  }
}

.todo-home {
  font-family: "Pixel Bit", sans-serif;
  letter-spacing: 8px;
  cursor: pointer;
}

.search-container {
  margin: 40px 0 0 0;
  display: flex;
  gap: 20px;
}

.todo-list {
  margin: 24px 100px 0 100px;
  .list-text {
    font-size: 21px;
    letter-spacing: 3px;
    color: white;
    width: 100%;
    padding: 10px 0px 10px 0;
  }
}

.todo-items {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 16px;
  margin-bottom: 16px;
}

.status {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  color: #cca152;
  text-transform: uppercase;
}

.button-line {
  height: 1px;
  margin: 32px 0;
  background-color: #cca152;
}

.completed-task {
  color: #cca152;
  font-weight: 800;
}

.complete-task {
  text-decoration: line-through;
  font-weight: bold;
}

.filter-by {
  width: 50%;
  max-height: 52px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-transform: capitalize;
}

.no-tasks-message{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Pixel Bit", sans-serif;
}
